<% if(grafana && Object.entries(grafanaUrls).length > 0) { %>
    <ul class="nav nav-pills">
        <li value="data" class="tab-toggle">
            <a data-toggle="tab" href="#data">Daten</a>
        </li>
        <% if(grafana && Object.entries(grafanaUrls).length > 0) { %>
        <li value="grafana" class="tab-toggle active">
            <a data-toggle="tab" href="#grafana">Grafana</a>
        </li>
        <% } %>
    </ul>
<% } %>
<div class ="tab-content">
    <% if (grafana && Object.entries(grafanaUrls).length > 0) { %>
    <div id="data" class="tab-pane fade hide">
    <% } else { %>
    <div id="data" class="tab-pane fade in"></div>
    <% } %>
        <table class="table">
            <tbody>
                <% Object.entries(gfiContent[0]).forEach(function (entry) { %>
                    <tr colspan="2">
                        <td class="bold"><%=String(entry[0])%></td>
                        <td><%=entry[1]%></td>
                    </tr>
                <% });%>
            </tbody>
        </table>
    </div>
    <% if (grafana && Object.entries(grafanaUrls).length > 0) { %>
    <div id="grafana" class="fade in active text-center">
        <% Object.entries(grafanaUrls).forEach(function(entry){ %>
            <iframe src="<%=entry[1]%>" class="gfi-iFrame iFrame-grafana"></iframe>
        <% }); %>
    </div>
    <% } %>
</div>
