<!DOCTYPE html>
<div class="mouse-position hidden-xs">
    <div class="pull-left"><%= hintText %></div>
    <span class="glyphicon glyphicon-chevron-left" title="<%= hideMousePositionText %>"></span>
</div>
